<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMonitorService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9990/MARSTIGFrameMonitor"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMonitorService"
                contract="ServiceReference1.IMonitorService" name="NetTcpBinding_IMonitorService">
                <identity>
                    <userPrincipalName value="MARQUIS1\tiger" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>